* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
}

html,
body {
  scroll-behavior: smooth;
  font-size: 10px;
}

.loading{
  background-image: url('/img/load.gif');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center center;
  z-index: 99999;
}

/* ****************************H O M E P A G E******************* */
#home {
  background-image: url(../img/homepage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 100vh;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #01213a;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-left: 7%;
}

.bars{
  display: none;
}

.navbar-logo img {
  width: 100px;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-media > span > a > i {
  color: #fff;
  font-size: 2rem;
  margin-right: 2rem;
}

.s-media > span > a > i:hover {
  color: #c00d99;
}

.navbar-list a{
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}

.navbar-list a span:hover {
  color: #c00d99;
  border-bottom: 1px solid #ccc;
  transition: border-bottom 0.7s ease-in-out;
}

.scroll-up-btn{
  display: none;
}

.scroll-up-btn i {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  font-size: 2rem;
  background: linear-gradient(180deg, #21206a 0%, #c00d99 100%);
  padding: 1.2rem;
  border-radius: 50%;
}

.landing-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  animation: moveInBottom 4s ease-in-out;
}

.landing-content-title {
  font-weight: bolder;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  color: #fff;
}

.landing-content-moto {
  font-weight: lighter;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  color: #ffffff;
  padding-left: 2%;
  line-height: 2;
}

.landing-content-btn {
  margin-top: 7%;
  padding-left: 2%;
}

.landing-content-btn a {
  border: 2px solid #fff;
  font-size: 2rem;
  letter-spacing: 0.055em;
  text-decoration: none;
  color: #fff;
  border-radius: 20rem;
  padding: 1.2rem 4rem;
}

.landing-content-btn a:hover {
  background-color: #fff;
  color: #01213a;
  transition: all 1s ease-out;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* ********************************************************* */
/* *******************************A B O U T************** */
#about {
  background-image: url(../img/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 3px;
  line-height: 2;
}

.about-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.045em;
  width: 60%;
  margin: auto;
}

.contact-btn {
  padding-top: 4%;
  animation: moveInBottom 7s ease-in-out;
}

.contact-btn a {
  border: 3px solid #01213a;
  color: #01213a;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 7rem;
  border-radius: 20rem;
}

.contact-btn a:hover {
  background-color: #01213a;
  color: #fff;
  transition: all 1s ease-in-out;
}
/* ********************************************************* */
/* *************************S E R V I C E S*********************** */
.wt {
  color: #fff;
}

.services {
  padding: 1rem 8rem 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#service {
  background-image: url("/img/service.png");
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7% 0;
}

.service-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  width: 60%;
  margin: auto;
  text-align: center;
  letter-spacing: 0.045em;
  color: #ffffff;
  line-height: 2;
  padding: 3rem 0 5rem;
}

.service-item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.service-icon > i {
  border-radius: 50%;
  font-size: 3rem;
  padding: 2rem;
  color: #fff;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #21206a 0%, #c00d99 100%);
}

.service-title {
  font-size: 2rem;
  color: #2ecc71;
  padding: 1.5rem 0;
  text-align: center;
}

/* ********************************************************* */

/* ********************W O R K*************************** */
.p {
  width: 50%;
  margin: auto;
  font-size: 1.8rem;
  line-height: 2;
  text-align: center;
  padding: 0.5rem 0 3rem;
}

.mr {
  margin-right: 6%;
}

.work {
  background-image: url(../img/work.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  padding: 8% 0 3%;
}

.projects {
  padding: 0 15% 10%;
}

.project {
  display: flex;
  justify-content: space-evenly;
  margin: 0% 0 10%;
  align-items: center;
}

.project-img {
  flex-shrink: 2;
}

.project-img figure {
  width: 250px;
  height: 250px;
}

.project-img figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.project-img figure img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.project-content {
  flex-shrink: 1;
}

.project-content h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 2;
  letter-spacing: 0.045em;
  color: #000000;
}

.project-content p {
  font-family: Josefin Sans;
  font-weight: lighter;
  font-size: 1.8rem;
  line-height: 2;
  letter-spacing: 0.045em;
  text-align: justify;
}

/* *************************************************** */
/* *****************P A R T N  E  R S******************* */
#partners {
  background-image: url("/img/partner.png");
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
}

.partner img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}
/* *************************************************** */

.contact {
  background-color: #01213a;
  /* background-image: url('/img/contact.png');
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat; */
  padding-top: 8%;
}

.contacts {
  padding: 0 15%;
}

.address,
.address div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-address {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3%;
  flex-shrink: 1;
  flex-wrap: wrap;
  /* width: 20%; */
}

.address span i {
  font-size: 2.3rem;
  color: #ccc;
  line-height: 2;
}

.address div h6 {
  font-size: 1.8rem;
  color: #0c923f;
  line-height: 2;
}

.address div span {
  font-size: 1.3rem;
  color: #fff;
}

.address div span a i {
  color: #fff;
  font-size: 1.3rem;
  margin-right: 1rem;
  line-height: 1;
}

.address div span a i:hover {
  color: #c00d99;
}

.c-form {
  padding: 8% 15% 10%;
}

.form-title h1 {
  font-size: 4rem;
  color: #fff;
  line-height: 2;
}

.form-input {
  margin-bottom: 4rem;
}

input,
textarea {
  width: 100%;
  padding: 1.2rem 0;
  font-size: 1.5rem;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #0c923f;
  color: #ccc;
}

.form-input button {
  width: 100%;
  font-size: 2rem;
  background-color: #0c923f;
  color: #fff;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 1.2rem 0.5rem;
  cursor: pointer;
}

.form-input input:focus {
  border: 1px solid #fff;
}

.form-input button:hover {
  background-color: #084d22;
}

.form-input p {
  color: #fff;
  background-color: #741212;
  padding: 0.5rem;
  font-size: 1.2rem;
  display: none;
}

::placeholder {
  color: #ccc;
}

.footer {
  text-align: center;
  padding: 3rem;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.active{
  display: flex;
}